@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
	font-family: 'Inter', sans-serif;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1rem;
	padding-left: 1rem;
}
@media (min-width: 540px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 720px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 960px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1140px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 1320px) {
	.container {
		max-width: 1320px;
	}
}

.gprev,
.gnext {
	display: none !important;
}

.testimonial-card > div {
	border-radius: 0.5rem;
	box-shadow: -5px 5px 10px #e4e4e4, 5px -5px 10px #f6f6f6;
}

.dark .testimonial-card > div {
	border-radius: 0.5rem;
	box-shadow: -8px 8px 16px #0d1424, 8px -8px 16px #111a30;
}

.fadeIn-hidden {
	opacity: 0;
	transition: all 1s ease-in-out;
	transform: scale(0.5);
}

.fadeIn-show {
	opacity: 1;
	transform: scale(1);
}

.fadeInLeft-hidden {
	transition: all 1s ease-in-out;
	opacity: 0;
	transform: translate3d(-30px, 0, 0);
}

.fadeInLeft-show {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

@media (min-width: 992px) {
	.testimonial-card:nth-child(2),
	.testimonial-card:nth-child(4) {
		transition-delay: 200ms;
	}
}
