@import 'app.css';
@import 'tailwind.css';

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: #d0d4e7;
	margin: -8px 0;
	overflow: hidden;
}

::-webkit-scrollbar-thumb {
	background-color: #30395c;
	border-radius: 8px;
}

.tuanhngf {
	position: relative;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.5rem;
	display: grid;
	place-items: center;
	color: #e8e8e8;
	background-color: transparent;
	outline-offset: -2px;
	outline: 2px solid #e09843;
	box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
	z-index: 1;
	cursor: pointer;
}

.tuanhngf svg {
	fill: #e09843;
}

.dark .tuanhngf:hover {
	outline-color: #e8e8e8;
}

.dark .tuanhngf:hover svg {
	fill: #e8e8e8;
}

.tuanhngf:hover {
	outline-color: #30395c;
}

.tuanhngf:hover svg {
	fill: #30395c;
}
