@import 'app.css';
@import 'tailwind.css';

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: #d0d4e7;
	margin: -8px 0;
	overflow: hidden;
}

::-webkit-scrollbar-thumb {
	background-color: #30395c;
	border-radius: 8px;
}

.tuanhngf {
	position: relative;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.5rem;
	display: grid;
	place-items: center;
	z-index: 1;
	cursor: pointer;
}

.tuanhngf svg {
	fill: #e09843;
    transition: all 500ms ;
}

.tuanhngf:hover svg {
    transform: scale(1.2);
}
